* {
    font-family: 'Butler';
}

.page-title {
    font-family: 'Butler', serif;
    font-size: 5.438rem;
    font-weight: 400;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
}

.page-description {
    font-family: 'Roboto' ;
    font-size: 1.125rem;
    font-weight: 500;
}

.text {
    font-family: 'Butler' ;
    font-size: 2rem;
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.roboto {
    font-family: 'Roboto';
    font-size: 1rem;
}